body {
  margin: 0;
  padding: 0;
  background-color: blue;
}

.background-nav {
  max-width: 100%;
  height: auto;
  background-color: whitesmoke;
}

.column-two {
  padding: 30px;
}

.column-two a {
  font-size: 20px;
  padding-left: 30px;
  text-decoration: none;
  color: #764134;
  font-family: "Thasadith", sans-serif;
  font-weight: 600;
}

.column {
  background-color: whitesmoke;
}

#toggle {
  z-index: 100;
  margin: 20px 40px 0 0;
  font-size: 35px;
  text-align: right;
}

#toggle {
  display: none;
}

@media screen and (max-width: 850px) {
  .column-two {
    text-align: center;
    width: 100%;
    position: absolute;
    display: none;
  }
  #toggle {
    display: block;
    cursor: pointer;
  }
  .column-two a {
    display: block;
    font-size: 30px;
    padding: 30px;
    border-bottom: 1px solid #5f5e5e;
  }
}

@media screen and (max-width: 550px) {
  .column-two {
    margin-left: 0px;
  }
}

#background-img {
  background-image: url("../Images/landPage-img.jpg");
  max-width: 100%;
  height: 90vh;
  background-size: cover;
}

.pickup-text {
  padding: 100px;
  color: whitesmoke;
  font-family: "Kaushan Script", cursive;
  font-size: 46px;
  text-shadow: 2px 2px  black;
}

.pickup-text-2 {
  padding-left: 100px;
  color: whitesmoke;
  font-family: "Thasadith", sans-serif;
  font-size: 20px;
  text-shadow: 2px 2px black;
}

.pickup-button {
  font-size: 20px;
  border-radius: 17px;
  font-family: "Thasadith", sans-serif;
  color: #764134;
  background-color: whitesmoke;
  padding: 5px 22px;
  margin-left: 230px;
  margin-top: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pickup-button:hover {
  color: whitesmoke;
  background-color: #764134;
  font-size: 24px;
}

.about-us-text {
  color: #764134;
  margin-top: 100px;
  font-size: 56px;
  font-family: "Kaushan Script", cursive;
  text-align: center;
}

.about-us-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1444px) {
  .about-us-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-us-row-1 {
  height: 600px;
  background-color: #764134;
  border-radius: 31px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media only screen and (max-width: 773px) {
  .about-us-row-1 {
    height: 400px;
  }
}

.heart-img {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.about-us-col-1 {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us-col-1 h1 {
  color: whitesmoke;
  font-size: 56px;
  font-family: "Kaushan Script", cursive;
}

@media only screen and (max-width: 773px) {
  .about-us-col-1 h1 {
    font-size: 40px;
  }
}

.about-us-col-1 p {
  margin: 25px;
  color: whitesmoke;
  font-size: 20px;
  font-family: "Thasadith", sans-serif;
}

@media only screen and (max-width: 773px) {
  .about-us-col-1 p {
    font-size: 15px;
  }
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.row-2 {
  margin-top: 150px;
}

.second-paragraph-img {
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  float: right;
}

.about-us-col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us-col-3 h1 {
  color: #764134;
  font-size: 56px;
  font-family: "Kaushan Script", cursive;
}

@media only screen and (max-width: 773px) {
  .about-us-col-3 h1 {
    font-size: 40px;
  }
}

.about-us-col-3 p {
  margin: 25px;
  color: #764134;
  font-size: 20px;
  font-family: "Thasadith", sans-serif;
}

@media only screen and (max-width: 773px) {
  .about-us-col-3 p {
    font-size: 15px;
  }
}

.about-us-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 352px;
  height: auto;
  background-color: #764134;
  border-radius: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.about-us-column:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: black 0px 5px 15px;
          box-shadow: black 0px 5px 15px;
}

.about-us-column img {
  margin: 50px;
}

.about-us-column h1 {
  margin-top: 30px;
  color: whitesmoke;
  font-family: "Kaushan Script", cursive;
}

.about-us-column p {
  padding: 30px;
  color: whitesmoke;
  font-family: "Thasadith", sans-serif;
}

.cafe-btn {
  font-size: 20px;
  padding: 12px 15px;
  margin-top: 75px;
  color: whitesmoke;
  background-color: #764134;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cafe-btn:hover {
  color: #764134;
  background-color: whitesmoke;
}

.about-us-column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 352px;
  height: auto;
  border-radius: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.about-us-column-2:hover.about-us-column-2 img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.man-title {
  font-family: "Thasadith", sans-serif;
  color: #764134;
  -webkit-transform: translate(-20px, -25px);
          transform: translate(-20px, -25px);
}

.about-us-column-2 img {
  margin: 15px;
  border-radius: 70px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about-us-column-2 h1 {
  font-family: "Kaushan Script", cursive;
  color: #764134;
}

.about-us-column-2 p {
  font-family: "Thasadith", sans-serif;
  color: #764134;
  padding: 30px 30px;
  font-weight: bold;
}

.about-us-row-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-content: center;
}

.about-us-row-3 input {
  padding: 5px 50px;
  margin-top: 10px;
  border-radius: 10px;
  border: rgba(0, 0, 0, 0.35);
}

.message-btn {
  background-color: #764134;
  color: whitesmoke;
  font-family: "Thasadith", sans-serif;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 30px;
}

.message-btn:hover {
  color: #764134;
  background-color: whitesmoke;
}

footer {
  margin-top: 50px;
}

.about-us-row-4 {
  background-color: whitesmoke;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: auto;
  border-radius: 25px;
  margin-top: 100px;
}
/*# sourceMappingURL=main.css.map */